#legend {
    width : 20px;
    float : left;
    margin-right:50px;
    text-align: center;
    font-size : 20px;
    font-weight : bold;
    background-color: antiquewhite;
}
   /* 입력 칸 줄 맞추기 위한 세팅 */
#main {
    display : inline-block;
    text-align: right;
}

.label {
    font-style: italic;
    font-weight: bold;
}

.idpw {
    width : 90px;
    text-align: center;
    width : 200px;
}

#button {
    font-size : 20px;
    background-color: aqua;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border : none;
    margin-top:5px;
}
